<section>
  <div class="mb-3">
    <h2>Create New Post</h2>
  </div>

<div class="edit-post">
    <form class="new-post-form">
    <div class="mb-3">
      <label class="form-label" for="post-title">Title</label>
      <input class="form-control" type="text" id="post-title" name="post-title" />
    </div>
    <div class="mb-3">
      <label class="form-label" for="post-url">Link</label>
      <input class="form-control" id="post-url" name="post-url" />
    </div>
    <div class="mb-3">
      <button id="create-post" type="submit" class="btn btn-lg fw-bold border-white bg-white">Create</button>
    </div>
  </form>
</div>

</section>

{{#if posts.length}}
<section>
  <div class="mb-3">
    <h2>Your Posts</h2>
  </div>

  <ol>
    {{#each posts as |post|}}
    <li>
      {{> post-info post}}
      <a href="/dashboard/edit/{{post.id}}" class="edit-link text-white">Edit post</a>
    </li>
    {{/each}}
  </ol>
</section>
{{/if}}

<script src="/javascript/add-post.js"></script>