<div class="login cover-container">

  {{#if signup}}

  <form>
    <div class="mb-3">
      <label class="form-label" for="username-signup">Username:</label>
      <input class="form-control"  type="text" id="username-signup" autocomplete="username" />
    </div>
    <div class="mb-3">
      <label class="form-label" for="email-signup">Email:</label>
      <input class="form-control" type="text" id="email-signup" />
    </div>
    <div class="mb-3">
      <label class="form-label" for="password-signup">Password:</label>
      <input class="form-control" type="password" id="password-signup" autocomplete="new-password" />
    </div>
    <div class="mb-3">
      <button class="btn btn-lg fw-bold border-white bg-white" id="signup-submit" type="submit">Signup</button>
    </div>
  </form>
  <a class="login-link text-white" href="/login">Login instead</a>
  <script src="/javascript/signup.js"></script>

  {{else}}

  <form>
    <div class="mb-3">
      <label class="form-label" for="email-login">Email:</label>
      <input class="form-control" type="text" id="email-login" autocomplete="email" />
    </div>
    <div class="mb-3">
      <label class="form-label" for="password-login">Password:</label>
      <input class="form-control" type="password" id="password-login" autocomplete="current-password" />
    </div>
    <div class="mb-3">
      <button class="btn btn-lg fw-bold border-white bg-white" id="login-submit" type="submit">Login</button>
    </div>
  </form>
  <a class="login-link text-white" href="/signup">Sign Up Instead</a>
  <script src="/javascript/login.js"></script>
  {{/if}}

</div>