
{{> post-info post }}

{{#if loggedIn}}
<div class="edit-post">
  <form class="comment-form">
  <div class="mb-3">
    <textarea class="form-control" name="comment-body"></textarea>
  </div>

  <div class="mb-3">
    <button class="btn btn-lg fw-bold border-white bg-white" id="comment-submit" type="submit">add comment</button>
  </div>
</form>
</div>

{{/if}}

{{> comments post.comments}}

{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
{{/if}}
