.login {
    width: 50%;
    margin: auto;
}

.post {
    margin-top: 100px;
}

.edit-post {
    width: 50%;
}

.post-list {
    margin-top: 100px;
}

.meta {
    color: rgb(145, 145, 145)
}

.site-title {
    text-decoration: none;
}

.btn:hover, a:hover  {
    opacity: 50% !important;
}

footer {
    text-align: center;
}